<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>United States Education-Data by State</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="style.css" type="text/css">
	<link rel="stylesheet" href="leaflet.css" type="text/css">
	<script src="leaflet.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
	<script type="text/javascript" src="us-states.js"></script>
	<script type="text/javascript" src="views/script.js"></script>
  </head>

  <body>

    <div class="container">
    	
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>

        <h2 class="text-muted">US Education Data Visualization</h2>
        <h4 class="text-muted">How does your state compare?</h4>
        <hr>
      </div>
 
      <div class="jumbotron">
        <div id="map"></div>

	<center>
	<script type="text/javascript">

		var map = L.map('map').setView([37.8, -96], 4);

		var cloudmade = L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
			attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
			key: 'BC9A493B41014CAABB98F0471D759707',
			styleId: 22677
		}).addTo(map);


		// control that shows state info on hover
		var info = L.control();

		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info');
			this.update();
			return this._div;
		};

		info.update = function (props) {
			this._div.innerHTML = '<h4>Click the links below for data.</h4>' +  (props ?
				'<b>' + props.name + '</b><br />' + props.density + ' '
				: 'Hover over a state');
		};

		info.addTo(map);
    var grades = [0, 10, 20, 50, 100, 200, 500, 1000];
    var colors = ['#800026', '#BD0026', '#E31A1C', '#FC4E2A', '#FD8D3C', '#FEB24C', '#FED976', '#FFEDA0'];

		// get color depending on population density value
		function getColor(d) {
      //console.log("getColor", d);
      var gradesReverse = grades.slice(0).reverse();
      //console.log("grades", gradesReverse);
      //console.log("grades", colors);
      for(var i = 0; i<gradesReverse.length; i++) {
        if (d > gradesReverse[i]) {
          //console.log("returning", colors[i])
          return colors[i];
        }
      }
      return colors[colors.length-1];
		}

		function style(feature) {
			return {
				weight: 2,
				opacity: 1,
				color: 'white',
				dashArray: '3',
				fillOpacity: 0.7,
				fillColor: getColor(feature.properties.density)
			};
		}

		function highlightFeature(e) {
			var layer = e.target;

			layer.setStyle({
				weight: 5,
				color: '#666',
				dashArray: '',
				fillOpacity: 0.7
			});

			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}

			info.update(layer.feature.properties);
		}

		var geojson;

		function resetHighlight(e) {
			geojson.resetStyle(e.target);
			info.update();
		}

		function zoomToFeature(e) {
			map.fitBounds(e.target.getBounds());
		}

		function onEachFeature(feature, layer) {
			layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight,
				click: zoomToFeature
			});
		}

		geojson = L.geoJson(statesData, {
			style: style,
			onEachFeature: onEachFeature
		}).addTo(map);

		map.attributionControl.addAttribution('Population data &copy; <a href="http://census.gov/">US Census Bureau</a>');


		var legend = L.control({position: 'bottomright'});

		legend.onAdd = function (map) {

			var div = L.DomUtil.create('div', 'info legend'),
				labels = [],
				from, to;

			for (var i = 0; i < grades.length; i++) {
				from = grades[i];
				to = grades[i + 1];

				labels.push(
					'<i style="background:' + getColor(from + 1) + '"></i> ' +
					from + (to ? '&ndash;' + to : '+'));
			}

			div.innerHTML = labels.join('<br>');
			return div;
		};

		legend.addTo(map);

	</script>
	</center>
      </div>
<div>
	<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#general" data-toggle="tab">State Data</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">
<div class="row marketing">
        <div class="col-lg-6">
          <a href="#" class="Population"><h4>Population</h4></a>
          <p></p>
			
          <a href="#" class="math_4th_basic"><h4>4th Graders with Basic Math Proficiency</h4></a>
          <p></p>

          <a href="#" class="math_8th_basic"><h4>8th Graders with Basic Math Proficiency</h4></a>
          <p></p>

          <a href="#" class="reading_4th_proficient"><h4>4th Graders with Basic Reading Proficiency</h4></a>
          <p></p>

          <a href="#" class="reading_8th_proficient"><h4>8th Graders with Basic Reading Proficiency</h4></a>
          <p></p>

          <a href="#" class="FY_2011"><h4>Spending Fiscal Year 2011 (Thousands of Dollars)</h4></a>
          <p></p>

          <a href="#" class="Change_2010_2011"><h4>Change in Spending 2010-2011 (Thousands of Dollars</h4></a>
          <p></p>

          <a href="#" class="num_teachers_thous"><h4>Number of Teachers (Thousands)</h4></a>
          <p></p>

          <a href="#" class="teacher_perc_bach"><h4>Percent Teachers with a Bachelors Degree</h4></a>
          <p></p>

          <a href="#" class="teacher_perc_edspecialist_or_doc"><h4>Percent Teachers with a "Specialist" or Doctoral Degree</h4></a>
          <p></p>

          <a href="#" class="teach_3_to_0"><h4>Percent of Teachers with 3 to 9 years of Experience</h4></a>
          <p></p>

          <a href="#" class="over_20"><h4>Percnet of Teachers with over 20 years of Experience</h4></a>
          <p></p>

          <a href="#" class="class_size_sec"><h4>Average Class Size Secondary Schools</h4></a>
          <p></p>

          <a href="#" class="num_teachers_elem"> <h4>Number of Elementary School Teachers (Thousands)</h4></a>
          <p></p>

          <a href="#" class="av_sal_thous"><h4>K-12 Teachers Average Salary</h4></a>
          <p></p>

          <a href="#" class="av_sal_sec"><h4>Average Salary Secondary Teachers</h4></a>
          <p></p>

          <a href="#" class="hours_day_k12_08"><h4>K-12 Students: Hours Per Day Spent in School 2008</h4></a>
          <p></p>

          <a href="#" class="hours_day_k12_12"><h4>K-12 Students: Hours Per Day Spent in School 2012</h4></a>
          <p></p>

          <a href="#" class="hours_year_k12_12"><h4>K-12 Students: Hours Per Year Spent in School 2012</h4></a>
          <p></p>

          <a href="#" class="hours_day_elem_12"><h4>Elementary Students: Hours Per Day Spent in School 2012</h4></a>
          <p></p>

          <a href="#" class="hours_day_sec_12"><h4>Secondary Students: Hours Per Day Spent in School 2012</h4></a>
          <p></p>

          <a href="#" class="comp_perc_disabilities"><h4>High School Completion Rate Persons with Disabilities</h4></a>
          <p></p>

          <a href="#" class="com_perc_econ_disadv"><h4>High School Completion Rate of Economically Disadvantaged Students</h4></a>
          <p></p>

          <a href="#" class="perc_bach_degree_25_plus"><h4>Percentage of Adults with a Bacherlors Degree Ages 25 and up.</h4></a>
          <p></p>

        </div>

        <div class="col-lg-6">
          <a href="#" class="pop_dens"><h4>Population Density (Persons Per Square Mile)</h4></a>
          <p></p>

          <a href="#" class="math_4th_proficient"><h4>4th Grade Students who are Proficient in Math</h4></a>
          <p></p>

          <a href="#" class="math_8th_proficient"><h4>8th Grade Students who are Proficient in Math</h4></a>
          <p></p>

          <a href="#" class="reading_4th_proficient"><h4>4th Grade Students who are Proficient in Reading</h4></a>
          <p></p>

          <a href="#" class="reading_8th_proficient"><h4>8th Grade Students who are Proficient in Reading</h4></a>
          <p></p>

          <a href="#" class="FY_2010"><h4>Spending for Fiscal Year 2010 (Thousands of Dollars)</h4></a>
          <p></p>

          <a href="#" class="perc_change"><h4>Percent Change in Public Education Spending 2010-2011</h4></a>
          <p></p>

          <a href="#" class="teacher_perc_less_bach"><h4>Percentage of Teachers with Less than a Bachelors Degree</h4></a>
          <p></p>

          <a href="#" class="teacher_perc_mast"><h4>Percentage of Teacher with a Masters Degree</h4></a>
          <p></p>

          <a href="#" class="less_than_3"><h4>Percentage of Teachers with Less than 3 Years of Teaching</h4></a>
          <p></p>

          <a href="#" class="teach_10_to_20"><h4>Percentage of Teachers with 10 to 20 Years of Experience</h4></a>
          <p></p>

          <a href="#" class="class_size_elem"><h4>Class Size Elementary School</h4></a>
          <p></p>

          <a href="#" class="num_teachers_in_thous"><h4>Number of Teachers (In Thousands)</h4></a>
          <p></p>

          <a href="#" class="num_teachers_sec"><h4>Number of Secondary School Teachers (In Thousands)</h4></a>
          <p></p>

          <a href="#" class="av_sal_elem"><h4>Average Salary of Elementary School Teachers (Thousands)</h4></a>
          <p></p>

          <a href="#" class="enrollment_perc_k12_08"><h4>K-12 Average Attendance 2008</h4></a>
          <p></p>

          <a href="#" class="enrollment_perc_k12_12"><h4>K-12 Average Attendance 2012</h4></a>
          <p></p>

          <a href="#" class="days_year_k12_12"><h4>K-12 Number of School Days 2012</h4></a>
          <p></p>

          <a href="#" class="enrollment_perc_elem_12"><h4>Percent Attending Elementary School 2012</h4></a>
          <p></p>

          <a href="#" class="enrollment_perc_sec_12"><h4>Percent Attending Secondary School 2012</h4></a>
          <p></p>

          <a href="#" class="completion_percent"><h4>Percentage of Adults 25 years and older who have graduated from High School</h4></a>
          <p></p>

          <a href="#" class="comp_perc_limited_english"><h4>Graduation percentage of adults 25 years and older with limited english skills who have graduated from High School</h4></a>
          <p></p>

          <a href="#" class="perc_highschoolgrad_25_plus"><h4>Percent of Adults 25 years and older who have gradutated from highschool</h4></a>
          <p></p>

           <a href="#" class="Perc_Advanced_degree_25_plus"><h4>Percent of Adults 25 years and older who have an Advanced Degree</h4></a>
          <p></p>

           

          

        </div>
      </div>
  </div>
</div>
</div>
      <hr>
      </div>

      <div class="footer">
        <center><p>&copy; Ryan Allred 2013</p></center>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
